---
layout: default
---
<!--DOCTOP-->
<script>
  $.doctop({
    url: 'https://docs.google.com/document/d/1yiePHuLkgI3L1bPpEXlrTNCQnhI9KwyOELKquCn52MI/pub',
    archieml: true,
    cache: false,
    callback: function(d){
        //console.log(d.copy.archie);
        view = d.copy.archie;
        //strips the carriage returns for HTML linebreaks
        view.content = d.copy.archie.content.replace(/(\r\n|\n|\r)/gm, "<br />");
        template = $('#template').html();
        Mustache.parse(template);   // optional, speeds up future uses
        rendered = Mustache.render(template, view);
        $('#home-copy').html(rendered);
    }
  });
</script>
<!--MUSTACHE TEMPLATE -->
<script id="template" type="x-tmpl-mustache">
    {% raw %}
        <dl>
        <p>{{{content}}}</p>
        <h2 class="heading">{{{hed}}}</h2>
        </dl>
    {% endraw %}
</script>

<!--PAGE MARKUP-->
<section class="intro-content">
    <article>
        <div class="main">
            <div id="home-copy"></div>
            {% include form.html %}
        </div>
        <div class="sidebar">
            {% include sidebar.html %}
        </div>
    </article>
</section>


<section class="business-cards">
    <h2 class="heading">Recent letters</h2>
    <div class="button-wrapper">
    Sort Cards: <button>Alphabetically</button> | <button>By Date</button>
    </div>
    <article class="cards">
    <div id="letters">
    </div>
    <div id="letter"></div>
    </article>
</section>


<section>
    <article class="vancity-content">
    Maecenas justo sodales eu nibh at libero senectus nisl scelerisque a consectetur condimentum suspendisse justo in vestibulum porta a odio natoque et auctor class ut a parturient. Potenti a rutrum diam vestibulum a felis morbi donec suscipit convallis a cubilia etiam sapien in dis. Blandit parturient urna fermentum elit dis parturient volutpat ad vestibulum facilisi a nec iaculis mus vulputate iaculis at parturient ac posuere condimentum. Scelerisque nisi a convallis ullamcorper at iaculis suspendisse velit bibendum consectetur urna parturient ipsum odio curae et tortor ullamcorper feugiat odio sem lorem at a porttitor nam. Proin potenti volutpat tortor augue proin dolor aptent scelerisque ad a ut aliquet volutpat pulvinar.
</article>

</section>