---
layout: default
---
<!--DOCTOP-->
<script>
  $.doctop({
    url: 'https://docs.google.com/document/d/1yiePHuLkgI3L1bPpEXlrTNCQnhI9KwyOELKquCn52MI/pub',
    archieml: true,
    cache: false,
    callback: function(d){
        //console.log(d.copy.archie);
        view = d.copy.archie;
        //strips the carriage returns for HTML linebreaks
        view.content = d.copy.archie.content.replace(/(\r\n|\n|\r)/gm, "<br />");
        template = $('#template').html();
        Mustache.parse(template);   // optional, speeds up future uses
        rendered = Mustache.render(template, view);
        $('#home-copy').html(rendered);
    }
  });
</script>
<!--MUSTACHE TEMPLATE -->
<script id="template" type="x-tmpl-mustache">
    {% raw %}
        <dl>
        <p>{{{content}}}</p>
        <h2 class="heading">{{{hed}}}</h2>
        </dl>
    {% endraw %}
</script>

<!--PAGE MARKUP-->
<section class="intro-content">
    <article>
        <div class="main">
            <div id="home-copy"></div>
            {% include form.html %}
        </div>
        <div class="sidebar">
            {% include sidebar.html %}
        </div>
    </article>
</section>


<section class="business-cards">
    <h2 class="heading">Recent letters</h2>
    <div class="button-wrapper">
    Sort Cards: <button>Alphabetically</button> | <button>By Date</button>
    </div>
    <article class="cards">
    <div id="letters">
    </div>
    <div id="letter"></div>
    </article>
</section>


<section>
    <article class="vancity-content">
        <script id="partner_template" type="x-tmpl-mustache">

        {% raw %}
        <dl>    
        <img src="{{site.url}}/ui/img/{{{Image}}}"/>
        <a href="{{{Link}}}">{{Business}}</a>
        <a href="http://www.twitter.com/{{{Twitter}}}">@{{{Twitter}}}</a>
        <p>{{{Text}}}</p>
        <a href="{{{Link}}}">Learn more</a>
        </dl>
        {% endraw %}
        </script>
        <div id="partners"></div>

    </article>
</section>