<article class="business-card greeting-card holiday-card">

	<em>{{ contest.Created }}</em>
	<p>Dear {{ contest.Business }}:</p>
		<div class="business-card-share">
			<i class="fa fa-facebook-square fa-lg"></i>
			<i class="fa fa-twitter-square fa-lg"></i>
			<i class="fa fa-envelope fa-lg"></i>
	</div>
	<div class="business-card-details">
	<p>{{ contest.Details }}</p>
	</div>
	
	<div class="business-card-permalink">
		<a> {{contest.website}}</a>
	</div>
	<div class="business-card-submitter">
		<p>-{{ contest.Name }}</a></p>
	</div>

</article>