<footer class="about-sponsors">
	<div class="container">
		<h1>Contest Partners</h1>

		<div class="contest-partner">
			<h2 class="partner-heading">LOCO</h2>
			<p>LOCO works to strengthen our communities, build the local economy and build strong, sustainable businesses by increasing local spending by consumers, businesses and institutions/government. </p>
			<p>We connect, support and promote local businesses, and provide research on the economic benefits of local purchasing and procurement. We launched, and continue to coordinate the <a href="http://bcbuylocal.com/">BC Buy Local campaign</a> to educate consumers and purchasers about the value <b><i>local owned</i></b> businesses, <b><i>local grown</i></b> and <b><i>local made</i></b> products generate in our communities. </p><p>Want to support the work we do? <a href="http://locobc.com/">Become a member</a>.</p>
			<a href="http://locobc.com"><img src="{{site.url}}/ui/img/LoCo_Logo_Magenta.jpg"></a>
			</div>

			<div class="contest-partner">
				<h2 class="partner-heading">The Tyee</h2>
				<p>In November 2003, The Tyee began its swim upstream against the media trends of our day.  We’re independent and not owned by any big corporation, and based in Vancouver, BC.  We’re dedicated to publishing lively, informative news and views, not dumbed-down fluff.  We, like the tyee salmon for which we’re named, roam free and go where we wish. </p>
				<p>Twelve years later?  We’ve helped revive old-style, long-form reporting and shed light on the stories and solutions big media ignores.  Our writers are some of the best in the country.  Together, we’ve broken major stories and won major awards.  The Tyee is now a widely read and respected platform for the forward-thinking, fact-based conversation our province and country desperately need to have. </p>
				<p>Check us out <a href="http://thetyee.ca">here</a> and learn about becoming a supporting 'Builder' <a href="http://support.thetyee.ca">here</a>.</p>
				<a href="http://thetyee.ca"><img src="{{site.url}}/ui/img/tyee-logo.png"></a></div>

			<div class="contest-partner">
				<h2 class="partner-heading">Vancity</h2>
				<p>Vancity is a values-based financial co-operative serving the needs of its more than 509,000 member-owners and their communities through 59 branches in Metro Vancouver, the Fraser Valley, Victoria, Squamish and Alert Bay. As Canada's largest community credit union, Vancity uses its $18.6 billion in assets to help improve the financial well-being of its members while at the same time helping to develop healthy communities that are socially, economically and environmentally sustainable.</p>
				<p>We’re proud to be a Living Wage employer and a member of the Global Alliance for Banking on Values.</p> 
				<p>Want to learn about becoming an individual or business member?  Click <a href="http://vancity.com">here</a>.


			</p><a href="https://vancity.com"><img src="{{site.url}}/ui/img/vancity.png"></a></div>
</footer>