<div id="wufoo-z1wu3fc30hqoqic">
Fill out my <a href="https://thetyee.wufoo.com/forms/z1wu3fc30hqoqic">online form</a>.
</div>
<script type="text/javascript">var z1wu3fc30hqoqic;(function(d, t) {
var s = d.createElement(t), options = {
'userName':'thetyee',
'formHash':'z1wu3fc30hqoqic',
'autoResize':true,
'height':'1301',
'async':true,
'host':'wufoo.com',
'header':'show',
'ssl':true};
s.src = ('https:' == d.location.protocol ? 'https://' : 'http://') + 'www.wufoo.com/scripts/embed/form.js';
s.onload = s.onreadystatechange = function() {
var rs = this.readyState; if (rs) if (rs != 'complete') if (rs != 'loaded') return;
try { z1wu3fc30hqoqic = new WufooForm();z1wu3fc30hqoqic.initialize(options);z1wu3fc30hqoqic.display(); } catch (e) {}};
var scr = d.getElementsByTagName(t)[0], par = scr.parentNode; par.insertBefore(s, scr);
})(document, 'script');</script>