<div id="wufoo-{{ site.wufoo }}">
Fill out my <a href="https://thetyee.wufoo.com/forms/{{ site.wufoo }}">online form</a>.
</div>
<script type="text/javascript">var {{ site.wufoo }};(function(d, t) {
var s = d.createElement(t), options = {
'userName':'thetyee',
'formHash':'{{ site.wufoo }}',
'autoResize':true,
'height':'731',
'async':true,
'host':'wufoo.com',
'header':'hide',
'ssl':false};
s.src = ('https:' == d.location.protocol ? 'https://' : 'http://') + 'www.wufoo.com/scripts/embed/form.js';
s.onload = s.onreadystatechange = function() {
var rs = this.readyState; if (rs) if (rs != 'complete') if (rs != 'loaded') return;
try { {{ site.wufoo }} = new WufooForm();{{ site.wufoo }}.initialize(options);{{ site.wufoo }}.display(); } catch (e) {}};
var scr = d.getElementsByTagName(t)[0], par = scr.parentNode; par.insertBefore(s, scr);
})(document, 'script');</script>
