


<header class="site-header">

<nav class="main navbar navbar-default site-nav" role="navigation">
    <div class="container">
        <div class="ellogo">
            <a href="/"><img src="{{site.url}}/ui/img/tyee-logo.png"></a>
        </div>
        <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
         <div class="collapse navbar-collapse" id="navbar-collapse">
        <ul class="menu nav navbar-nav">
            {% for p in site.pages %}
                {% unless p.url == "/" %}
                    {% unless p.url == "/feed.xml" %}
                        <li><a href="{{p.url}}"> {{ p.title}}</a></li>
                    {% endunless %}
                {% endunless %}
            {% endfor %}
            <li><a href="/">Enter Now</a></li>
        </ul>
    </div>
    </div>
</div>
</nav>

</header>
<div class="elbanner">
    <a href="/">
        <div class="eldeclaration"></div>
    </a>
</div>

