<!--MUSTACHE TEMPLATE -->
<script id="template" type="x-tmpl-mustache">
    {% raw %}
        <dl>
        <p>{{{content}}}</p>
        <h2 class="heading">{{{hed}}}</h2>
        </dl>
    {% endraw %}
</script>

<script type="text/template" id="tpl_businessView">
    <div class='business' data-business='<%= businessSlug %>'><strong><%= businessName %></strong>, <%= businessLocation %></div>
</script>

<script type="text/template" id="tpl_businessListView">
    <h2 class="heading">Businesses</h2>
    <ul class="businesses">
    </ul>
</script>

<script type="text/template" id="tpl_businessDetailView">
    <article data-business='<%= businessSlug %>' class='business-detail'>
        <header>
        </header>
        <p class="businessName"><%= businessName %>, <%= businessLocation %></p>
        <footer>
        </footer>
    </article>
</script>


<script type="text/template" id="tpl_cardView">
    <article data-card='<%= id %>' class='card'>
    <header>
        <a href="https://twitter.com/share?url={{ site.url }}/letter/show/<%= id %>&text=Thank you, <%= encodeURIComponent(businessName) %>!&via=TheTyee&hashtags=bcbuylocal,TyeeContest" target="_blank"><i class="fa fa-twitter-square fa-2x"></i></a>
        <a class="facebook-share" href="https://facebook.com/sharer.php?u={{ site.url }}/letter/show/<%= id %>" rel="nofollow" target="_blank" title="Share on Facebook"><i class="fa fa-facebook-square fa-2x"></i></a>

        <a class='email-share' target='_blank' href='mailto:?subject=A Great Local Letter!&body=I thought you might like to see this! Read it at {{ site.url }}/letter/show/<%= id %>'><i class='fa fa-envelope fa-2x'></i></a>
    </header>

    
    <p class="businessName">Dear <%= businessName %><%= _.isEmpty(businessLocation) == false ?   ' in ' + businessLocation : '' %>,</p>
    <p class="loveMessage"><%= loveMessage %></p>
    <p class="submitterName">- <em><%= submitterName %></em></p>
    <footer>
        <p class="dateCreated"><%= momentDate %></p>
        <p class="permalink">
            <small><a class="showCard" data-card="<%= id %>"href='#'>Permalink</a></small>
        </p>
    </footer>
    </article>
</script>
<script type="text/template" id="tpl_cardDetailView">
    <article data-card='<%= id %>' class='card-detail'>
        <header>
            <a href="https://twitter.com/share?url={{ site.url }}/letter/show/<%= id %>&text=Thank you, <%= encodeURIComponent(businessName) %>!&via=TheTyee&hashtags=bcbuylocal, TyeeContest" target="_blank"><i class="fa fa-twitter-square fa-2x"></i></a>
            <a class="facebook-share" href="https://facebook.com/sharer.php?u={{ site.url }}/letter/show/<%= id %>" rel="nofollow" target="_blank" title="Share on Facebook"><i class="fa fa-facebook-square fa-2x"></i></a>
            <a class='email-share' target='_blank' href='mailto:?subject=A Great Local Letter!&body=I thought you might like to see this! Read it at {{ site.url }}/letter/show/<%= id %>'><i class='fa fa-envelope fa-2x'></i></a>
        </header>
          <p class="businessName">Dear <%= businessName %><%= _.isEmpty(businessLocation) == false ?   ' in ' + businessLocation : '' %>,</p>
        <p class="loveMessage"><%= loveMessage %></p>
        <p class="submitterName">- <em><%= submitterName %></em></p>
        <footer>
            <p class="dateCreated"><%= momentDate %></p>
            <p>
                <small>
                    <a class="permalink" href="#">Permalink</a>
                </small>
            </p>
            <a class='show-list button' href='#'>Back</a>
        </footer>
    </article>
</script>
<script type="text/template" id="tpl_cardDetailErrorView">
    <article class="card-detail card-detail-error">
        <header>
            <p class="alert alert-danger" role="alert">
                Your submission was received, thank you! It is currently be processes by our local business elves and should be here soon. Check back in a minute or two to find it.
            </p>
        </header>
        <footer>
            <a class='show-list button' href='#'>Back</a>
        </footer>
    </article>
</script>

<script type="text/template" id="tpl_cardListView">
    <div class='letters'></div>
    <br clear="all" />
    <ul id="pagination">
        <li class="next"><a class="button">More</a></li>
    </ul>
</script>
<script id="tpl_promoView" type="text/template">
    <section>
        <article class="vancity-content">
            <div class="vancity-left">
                <img class="loco-tag" src="{{site.url}}/ui/img/loco-tag.png"/>
                <img class="vancity-photo" src="{{ site.url }}/ui/img/<%= Image %>"/>
            </div>
            <div class="vancity-right">
            <h2><a href="<%= Link %>"><%= Business %></a></h2>
                <p class="twitter"><a href="http://www.twitter.com/<%= Twitter %>">@<%= Twitter %></a></p>
                <p><%= Text %></p>
                 <a class="vancity-learn-more" href="<%= Link %>">Learn more</a>
                <p class="bcbuylocal"><a href="https://twitter.com/search?q=bcbuylocal" target="_blank">#BCBUYLOCAL</a></p>
               
            </div>
        </article>
    </section>
</script>
<script type="text/template" id="tpl_cardPromoListView">
    <section class="letters"></div>
    </section>
    <br clear="all" />
    <ul id="pagination">
        <li><a class="showFullList button" href="">Read more letters</a></li>
    </ul>
</script>
