<script type="text/template" id="tpl_businessView">
    <li><%= businessName %>, <%= businessLocation %></li>
</script>
<script type="text/template" id="tpl_businessListView">
    <ul class="businesses">

    </ul>
</script>




<script type="text/template" id="tpl_cardView">
    <article data-card='<%= id %>' class='card'>
    <header>
    <div id="share-item"></div>
        <a href='https://twitter.com/share?url={{ site.url }}/letters/#show/<%= id %>&text=Thank you, <%= businessName %>!&via=TheTyee&hashtags=bcbuylocal ' target='_blank'><i class='fa fa-twitter-square fa-2x'></i></a>
         <div class="fb-share-button" 
            data-href="{{ site.url }}/letters/#show/<%= id %>" 
            data-layout="button">
        </div>
        <a class="facebook-share" href="https://facebook.com/sharer.php?u={{ site.url }}/letters/#show/<%= id %>" rel="nofollow" target="_blank" title="Share on Facebook"><i class="fa fa-facebook-square fa-2x"></i></a>

        <a class='email-share' target='_blank' href='mailto:?subject=A Great Local Letter!&body=I thought you might like to see this! Read it at {{ site.url }}/letters/#show/<%= id %>'><i class='fa fa-envelope fa-2x'></i></a>
    </header>
    <p class="businessName">Dear <%= businessName %>,</p>
    <p class="loveMessage"><%= loveMessage %></p>
    <p class="submitterName">- <em><%= submitterName %></em></p>
    <footer>
        <p class="dateCreated"><%= momentDate %></p>
        <p class="permalink">
            <small><a href='/letters/#show/<%= id %>'>Permalink</a></small>
        </p>
    </footer>
    </article>
</script>
<script type="text/template" id="tpl_cardDetailView">
    <article data-card='<%= id %>' class='card-detail'>
        <header>

            <a href='https://twitter.com/share?url={{ site.url }}/letters/#show/<%= id %>&text=Thank you, <%= businessName %>!&via=TheTyee&hashtags=bcbuylocal ' target='_blank'><i class='fa fa-twitter-square fa-2x'></i></a>
         <div class="fb-share-button" 
            data-href="{{ site.url }}/letters/#show/<%= id %>" 
            data-layout="button">
        </div>
        <a class="facebook-share" href="https://facebook.com/sharer.php?u={{ site.url }}/letters/#show/<%= id %>" rel="nofollow" target="_blank" title="Share on Facebook"><i class="fa fa-facebook-square fa-2x"></i></a>
            <a class='email-share' target='_blank' href='mailto:?subject=A Great Local Letter!&body=I thought you might like to see this! Read it at {{ site.url }}/letters/#show/<%= id %>'><i class='fa fa-envelope fa-2x'></i></a>
        </header>
        <p class="businessName">Dear <%= businessName %>,</p>
        <p class="loveMessage"><%= loveMessage %></p>
        <p class="submitterName">- <em><%= submitterName %></em></p>
        <footer>
            <p class="dateCreated"><%= momentDate %></p>
            <p class="permalink">
                <small><a href='/letters/#show/<%= id %>'>Permalink</a></small>
            </p>
            <a class='show-list button' href='#'>Back</a>
        </footer>
    </article>
</script>

<script type="text/template" id="tpl_cardListView">
    <div class='letters'></div>
    <br clear="all" />
    <ul id="pagination">
        <li class="first"><a href="#">First</a></li>
        <li class="previous"><a href="#">Previous</a></li>
        <li class="next"><a href="#">Next</a></li>
        <li class="last"><a href="#">Last</a></li>
    </ul>
</script>
<script id="tpl_promoView" type="text/template">
    <section>
        <article class="vancity-content">
            <div class="vancity-left">
                <img class="loco-tag" src="{{site.url}}/ui/img/loco-tag.png"/>
                <img class="vancity-photo" src="{{ site.url }}/ui/img/<%= Image %>"/>
            </div>
            <div class="vancity-right">
            <h2><a href="<%= Link %>"><%= Business %></a></h2>
                <p class="twitter"><a href="http://www.twitter.com/<%= Twitter %>">@<%= Twitter %></a></p>
                <p><%= Text %></p>
                 <a class="vancity-learn-more" href="<%= Link %>">Learn more</a>
                <p class="bcbuylocal"><a href="https://twitter.com/search?q=bcbuylocal" target="_blank">#BCBUYLOCAL</a></p>
               
            </div>
        </article>
    </section>
</script>
