<aside>
	<h3 class="sidebar-header">Contest brought to you by</h3>
	<img src="../ui/img/livelocalbuy.png"/>

</aside>
{% unless page.url == '/prizes/' %}
<aside>

<h3 class="sidebar-header">Prizes</h3>

	{% for row in site.data.google_sheet offset: 1 limit: 6%}
		{% assign counter = 0 %}
		{% for col in row %}
			{% assign handle = counter %}
			{% case handle %}
			{% when 0 %}
				{% assign bizname = col %}
				{% assign counter = counter |plus: 1 %}
			{% when 1 %}
				{% assign textshort = col %}
				{% assign counter = counter |plus: 1 %}
			{% when 2 %}
				{% assign textlong = col %}
				{% assign counter = counter |plus: 1 %}
			{% when 3 %}
				{% assign link = col %}
				{% assign counter = counter |plus: 1 %}
			{% when 4 %}
				{% assign image = col %}
				{% assign counter = counter |plus: 1 %}
				<div class="prize">
					<img src="{{site.url}}/ui/img/{{ image }}"/>	
					<a href="{{site.url}}/prizes/">
						<p>{{textshort}}</p> 
					</a>
				</div>
			{% else %}
			{% endcase %}
		{% endfor %}
	{% endfor %}
<a class="button" href="{{site.url}}/prizes/">Full prize list</a>


	
</aside>
{% endunless %}
<aside class="instagram-widget">
	<h3 class="sidebar-header">Recent local love on instagram</h3>
	<div id="instafeed"></div>
<p>Want to submit your own instagram entry?</p>  <a href="{{site.url}}/about/" class="button">Learn how</a>
</aside>