<aside>
	<h3 class="sidebar-header">Contest brought to you by</h3>
	<img src="../ui/img/livelocalbuy.png"/>

</aside>
{% unless page.url == '/prizes/' %}
<aside>
	<h3 class="sidebar-header">Prizes</h3>
	{% for prize in site.data.prizes %}
	{% if prize.Image  %}
	<div class="prize">
		<a href="/prizes/">
		<img src = "{{prize.Image}}" />
		<br />
		{{prize.Businessname}}<br/>
		{{prize.Text_Short}}
		</a>
	</div>	
	{% endif %}
	{% endfor %}
	<a>Full prize list</a>
</aside>
{% endunless %}
<aside>
	<h3 class="sidebar-header">Recent local love on instagram</h3>
	<div id="instafeed"></div>
<p>Want to submit your own instagram entry?  Learn how here.</p>
</aside>