
/* ==========================================================================
CSS/LESS includes 
========================================================================== */
@import "../../bower_components/bootstrap/less/bootstrap.less";


/* ==========================================================================
Globals & Mixins
========================================================================== */
.rounded-corners (@radius: 5px) {
    -webkit-border-radius: @radius;
    -moz-border-radius: @radius;
    -ms-border-radius: @radius;
    -o-border-radius: @radius;
    border-radius: @radius;
}

.box-shadow (@x: 0; @y: 0; @blur: 1px; @color: rgba(0,0,0,0.3)) {
    -moz-box-shadow: @arguments;
    -webkit-box-shadow: @arguments;
    box-shadow: @arguments;
}

/* ==========================================================================
Variables
========================================================================== */

// Breakpoints

//("all", 0px),
//("small", 420px),
//("medium", 640px),
//("large", 960px),
//("xlarge", 1200px)


// Style tiles, Colours
@white: #ffffff;
@darkBlue: #285058;
@lightBlue: #e9edee;
@medBlue: #547678;
@altBlue: #52737c;
@darkGreen: #598700;
@medGreen: #accc4f;
@paleGreen: #dce9be;
@lightGreen: #eef3dd;
@limeGreen: #7FAD17;
@gray: #7A7979;
@lightGray: rgb(240,240,240);
@bodyText: #303030;
@bodyHead: #141414;
@authorText: #568C00;
@greyText: #7A7979;
@editorText: #575756;
@blockHeaders: #093742;
@articleHeaders: #628C00;
@articleDesc: #575756;
@linkText: #083643;

// Style tiles, Fonts
// TODO come back to this once TypeKit is working
@fontDefault: "Lucida Grande", Verdana, sans-serif;
@fontHeadersDefault: "franklin-gothic-urw-cond",sans-serif;
@fontHeadersBlock: "futura-pt", Arial, sans-serif;

// Party colours
@labelLiberal: #DC2300;
@labelConservative: #084A99;
@labelGreen: #008000;
@labelNdp: #FF8733;


/* ==========================================================================
Global 
========================================================================== */

body {
    font-family: @fontDefault;
}

header {
    background-color: @lightGray;
    .navbar-brand {
        padding-left: 0px;
    }
}

header h2#org-logo {
    text-indent: -5000px;
    background: url('/ui/img/tyee_logo.png') no-repeat top center;
    margin-top: 10px;
    padding-top: 80px;
}

#content {
    background: @white;
    padding-bottom: 40px;
}

footer.site-footer {
    background-color: @lightGray;
    padding-top: 20px;
    padding-bottom: 20px;
}


/* ==========================================================================
Type
========================================================================== */

h1, h2, h3, h4 {
    font-family: @fontHeadersDefault; 
}

/* ==========================================================================
Layout
========================================================================== */

/* ==========================================================================
Modules 
========================================================================== */

// Module: Header navigation, .site-nave
.site-nav {
    border: none;
    margin-bottom: 0px;
    background-color: inherit;
    .navbar-toggle {
        border: none;
        margin-right: 0px;
        .icon-bar {
            //background-color: black;
            height: 4px;
        }
    }
    h1 {
        margin: 0;
        padding: 0;
        display: inline;
        line-height: inherit;
    }
    // Temporary until I override the navbar styles
    .navbar>.container-fluid .navbar-brand {
        margin-left: -30px;
    }
}
// Module: Fullpage

body.cards {
    header {
        position:fixed;
        display:block;
        width: 100%;
        z-index:9;
    }
    header{
        top:0px;
    }
    footer {
        display: none;
    }
    .controlArrow {
        display: none !important;
    }
}

// Modules: Data visualizations

#datavis {
    width: 100%;
    height: 400px;
}

// Module: Chart - Timeseries

body#chart-timeseries {
    .chart rect {
        fill: steelblue;
    }

    .chart text {
        font: 10px sans-serif;
        text-anchor: end;
    }

    path {
        stroke: black;
        fill: none;
    }
}

// Module: Map - Regions
body#regional-chart {

}


/* ==========================================================================
Progressively enhance for larger screens 
========================================================================== */

@media screen and (min-width: 768px) { /* Adjust for large desktop */

}

@media screen and (min-width: 768px) and (max-width: 1024px) { /* Adjust for standard desktop */

}

@media screen and (min-width:768px) and (max-width: 992px) { /* portrait tablets */ 

}

@media only screen and (-webkit-min-device-pixel-ratio: 2) {
    /* Put high-resolution display styles here */
}

/* ==========================================================================
Print styles.
Should be inlined to avoid required HTTP connection: h5bp.com/r
========================================================================== */
@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

a[href^="javascript:"]:after,
a[href^="#"]:after {
    content: "";
}

pre,
blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
}

thead {
    display: table-header-group; /* h5bp.com/t */
}

tr,
img {
    page-break-inside: avoid;
}

img {
    max-width: 100% !important;
}

p,
h2,
h3 {
    orphans: 3;
    widows: 3;
}

h2,
h3 {
    page-break-after: avoid;
}
}





* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/*------------------------------------*\
    $RESET
\*------------------------------------*/
/* Border-Box http:/paulirish.com/2012/box-sizing-border-box-ftw/ */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html, body, div, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, ol, ul, li, form, legend, label, table, header, footer, nav, section, figure {
  margin: 0;
  padding: 0;
  font-weight: 100; }

header, footer, nav, section, article, hgroup, figure {
  display: block; }

html {
  font-size: 62.5%;
  /* Sets up the Base 10 stuff */ }

img, canvas, iframe, video, svg {
  max-width: 100%; }

.overflow-container {
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch; }

a, a:visited {
  color: #000000;
  text-decoration: none; }

body {
  font-size: 1.6rem; }

img {
  max-width: 100%; }

iframe {
  max-width: 95%;
  margin: auto;
  box-sizing: border-box; }

body {
  font-family: "Lucida Grande", Tahoma, Verdana, Arial, sans-serif;
  margin: auto;
  color: #222; }
  @media screen and (min-width: 700px) {
    body {
      padding: 0; } }

h1 {
  font-family: "franklin-gothic-urw-cond", sans-serif;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.4);
  margin-bottom: 1.5rem; }

img {
  max-width: 100%;
  border-radius: 5px; }

ul {
  margin: 0;
  padding: 0; }

ul li {
  list-style-type: none; }

a, a:visited {
  color: #648bb9;
  transition: all .3s ease; }
  a:hover, a:visited:hover {
    color: #87a5c9; }

h2.heading {
  color: #79219f;
  font-family: "franklin-gothic-urw-cond", sans-serif;
  border-bottom: 3px solid #92159e;
  margin-bottom: 1.5rem; }

.container {
  max-width: 60.375em;
  margin-left: auto;
  margin-right: auto;
  padding-right: 1.5rem;
  padding-left: 1.5rem; }
  .container:after {
    content: "";
    display: table;
    clear: both; }
  @media screen and (min-width: 700px) {
    .container {
      padding-right: 0;
      padding-left: 0; } }

div, section, p {
  padding-bottom: 1.5rem; }

header.container {
  margin-top: 1.5em;
  margin-bottom: 1.5em; }

@media screen and (min-width: 700px) {
  .short-prize-description {
    float: left;
    display: block;
    margin-right: 6.66667%;
    width: 46.66667%; }
    .short-prize-description:last-child {
      margin-right: 0; }
    .short-prize-description:nth-of-type(2n) {
      margin-right: 0; }
    .short-prize-description:nth-of-type(2n+1) {
      clear: left; } }
.short-prize-description img {
  margin-top: -5px; }
.short-prize-description h3 {
  padding-bottom: .75rem; }

.short-prize-description:last-of-type {
  float: none;
  width: 100%; }

@media screen and (min-width: 700px) {
  div.intro {
    float: left;
    display: block;
    margin-right: 2.12766%;
    width: 65.95745%; }
    div.intro:last-child {
      margin-right: 0; } }

section.sponsors {
  padding: 1em; }
  @media screen and (min-width: 700px) {
    section.sponsors {
      float: left;
      display: block;
      margin-right: 2.12766%;
      width: 31.91489%;
      margin-right: 0;
      padding-top: 0; }
      section.sponsors:last-child {
        margin-right: 0; } }
  section.sponsors p {
    font-size: 1.8rem; }
    @media screen and (min-width: 700px) {
      section.sponsors p {
        font-size: 1.3rem; } }

.sidebar-header {
  font-family: "franklin-gothic-urw-cond", sans-serif;
  border-bottom: 3px solid #87a5c9;
  margin-bottom: 1.5rem; }

.enter-contest a {
  border-radius: 5px;
  background: #92159e;
  color: white;
  display: block;
  margin: auto;
  margin-bottom: 1.5rem;
  text-align: center;
  font-size: 2.4rem;
  font-family: "franklin-gothic-urw-cond", sans-serif;
  text-transform: none;
  transition: background .3s ease; }
  .enter-contest a:hover {
    background: #bc1bcb;
    color: white;
    border: none; }

.iconic {
  height: 2em;
  width: 2em;
  fill: #87a5c9;
  transition: fill .3s ease;
  margin: 0 .7em;
  margin-bottom: -6px; }
  .iconic:hover {
    fill: #4971a1; }

@media screen and (min-width: 700px) {
  .individual-letter .iconic {
    width: 1.2em;
    height: 1.2em;
    margin-right: .5em; } }

.iconic .iconic-property-stroke {
  fill: #87a5c9; }

.share-letter-tools a:hover {
  border-bottom: none; }

.share-letter-tools p {
  font-family: "franklin-gothic-urw-cond", sans-serif;
  text-transform: uppercase;
  font-size: .8em;
  color: #aabfd9;
  padding-bottom: 0;
  padding-top: 1.5em; }

header.share-letter-tools {
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
  padding-bottom: 1.5em; }
  header.share-letter-tools p {
    padding-top: 0; }

.vancity-content {
  background: #f2e0cf;
  padding: 1em;
  border-radius: 5px;
  margin-bottom: 1.5rem; }
  @media screen and (min-width: 700px) {
    .vancity-content {
      float: left;
      display: block;
      margin-right: 2.12766%;
      width: 100%; }
      .vancity-content:last-child {
        margin-right: 0; } }

.vancity-photo {
  position: relative;
  padding-right: 2em;
  padding-bottom: 2em; }
  @media screen and (min-width: 700px) {
    .vancity-photo {
      float: left;
      display: block;
      margin-right: 2.12766%;
      width: 48.93617%; }
      .vancity-photo:last-child {
        margin-right: 0; } }

@media screen and (min-width: 700px) {
  .vancity-details {
    float: left;
    display: block;
    margin-right: 2.12766%;
    width: 48.93617%; }
    .vancity-details:last-child {
      margin-right: 0; } }

.loco-tag {
  position: absolute;
  bottom: 0;
  right: 0; }

p.twitter {
  font-size: .8em; }

p.bcbuylocal {
  text-align: right;
  font-size: 3em;
  padding: 0 !important;
  font-family: "franklin-gothic-urw-cond", sans-serif;
  font-style: italic;
  text-transform: uppercase; }
  p.bcbuylocal a {
    color: #fff;
    text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.6);
    transition: color .3s ease; }
    p.bcbuylocal a:hover {
      color: #e93715;
      text-shadow: none;
      border-bottom: none; }

.vancity-content a, .vancity-content:visited {
  color: #e93715; }
  .vancity-content a:hover, .vancity-content:visited:hover {
    color: #a72811; }

.vancity-ack img {
  float: left;
  width: 23%;
  padding-right: 2em; }

footer.vancity-ack {
  font-size: .8em;
  font-style: italic;
  margin-top: 2em; }

.vancity-ack p {
  padding-left: 2.5em;
  padding-right: 2.5em; }

.vancity-content h2 {
  text-decoration: underline;
  padding-bottom: 1.5rem;
  font-family: "franklin-gothic-urw-cond", sans-serif;
  text-transform: uppercase; }

a.vancity-learn-more, a.vancity-learn-more:visited {
  /* background: #f2e0cf; */
  background: #ffffff;
  border: 1px solid #b92c13;
  display: inline-block;
  padding: 5px;
  border-radius: 5px;
  color: #b92c13;
  font-family: "Lucida Grande", Verdana, sans-serif;
  transition: all .3s linear; }
  a.vancity-learn-more:hover, a.vancity-learn-more:visited:hover {
    background: #f2e0cf;
    text-decoration: none;
    color: #a72811; }

.individual-letter {
  border: 3px solid #87a5c9;
  padding: 2em;
  border-radius: 5px;
  margin-bottom: 1.5em;
  padding-bottom: 0; }
  @media screen and (min-width: 700px) {
    .individual-letter {
      font-size: 3rem; } }

@media screen and (min-width: 700px) {
  .column {
    float: left;
    display: block;
    margin-right: 2.12766%;
    width: 65.95745%; }
    .column:last-child {
      margin-right: 0; } }

.letter-sample {
  max-width: 60.375em;
  margin-left: auto;
  margin-right: auto; }
  .letter-sample:after {
    content: "";
    display: table;
    clear: both; }

.greeting-card .holiday-card {
  padding: 1em;
  border-radius: 5px;
  border: 1px solid #dedede;
  margin-bottom: 1em;
  background: rgba(222, 222, 222, 0.1); }
  @media screen and (min-width: 700px) {
    .greeting-card .holiday-card {
      float: left;
      display: block;
      margin-right: 2.12766%;
      width: 31.91489%;
      height: 350px;
      overflow-y: auto; }
      .greeting-card .holiday-card:last-child {
        margin-right: 0; }
      .greeting-card .holiday-card:nth-of-type(3n) {
        margin-right: 0; }
      .greeting-card .holiday-card:nth-of-type(3n+1) {
        clear: left; } }

.signatory {
  font-style: italic;
  font-size: .8em;
  padding-left: .5em; }
  .signatory:before {
    content: "\2014";
    padding-right: .5em; }

.letter-share, a.letter-share:visited {
  display: inline-block;
  width: 50%;
  background: #82bee7;
  text-align: center;
  border: 1px solid #fff;
  border-top-left-radius: 5px;
  transition: background .3s linear;
  padding: .5rem;
  margin-top: 1rem;
  color: #222; }
  .letter-share:hover, a.letter-share:visited:hover {
    background: #2c92d7;
    color: #ffffff; }

.readmore-js-section {
  overflow: hidden;
  text-overflow: ellipsis;
  max-height: 150px; }

a.readmore-js-toggle {
  display: block;
  text-align: center;
  background: rgba(146, 21, 158, 0.3);
  color: #222;
  border-radius: 5px;
  padding: 3px; }
  a.readmore-js-toggle:hover {
    border: none;
    background: rgba(146, 21, 158, 0.6); }

@media screen and (min-width: 700px) {
  div.prize-list {
    float: left;
    display: block;
    margin-right: 2.12766%;
    width: 65.95745%; }
    div.prize-list:last-child {
      margin-right: 0; } }

.about-sponsors {
  padding: 1em; }

.about-sponsors .container {
  border-top: 3px solid #87a5c9; }

.about-sponsors p {
  font-size: 1.3rem; }
  .about-sponsors p a {
    color: #222;
    text-decoration: underline; }

h2.partner-heading {
  font-family: "franklin-gothic-urw-cond", sans-serif;
  border-bottom: 3px solid rgba(255, 255, 255, 0.4);
  margin-bottom: 1.5rem; }

@media screen and (min-width: 700px) {
  .contest-partner {
    float: left;
    display: block;
    margin-right: 2.12766%;
    width: 31.91489%; }
    .contest-partner:last-child {
      margin-right: 0; } }

.elbanner {
  background: url("/ui/img/BuyLocal-banner-background.jpg") no-repeat top center;
  height: 165px;
  margin-bottom: 1.5rem; }
  @media screen and (min-width: 700px) {
    .elbanner {
      height: 229px;
      margin-bottom: 3rem; } }

.eldeclaration {
  background: url("/ui/img/BuyLocal-banner-cta-700.png") no-repeat top center;
  background-size: auto 100%;
  height: 170px;
  margin: auto; }
  @media screen and (min-width: 700px) {
    .eldeclaration {
       background: url("/ui/img/BuyLocal-banner-cta-966.png") no-repeat top center;
      height: 229px;
      max-width: 960px;
      background-size: 100% auto; } }

.ellogo img {
  display: block;
  margin: auto; }
  @media screen and (min-width: 700px) {
    .ellogo img {
      max-height: 6rem;
      margin-top: 1rem;
      float: left; } }

ul.menu li {
  display: inline-block; }

nav.main {
  background: #dee5ed;
  text-align: right;
  width: 100%;
  padding: 0;
  margin: 0;
  top: 0;
  left: 0;
  border-bottom: 1px solid #9db6db; }

ul.menu a {
  display: block;
  color: #3f679e;
  border-bottom: 2px solid #dee5ed;
  transition: all .3s ease;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  margin-bottom: .75em; }
  ul.menu a:hover {
    border: none;
    color: #92159e;
    border-bottom: 2px solid #92159e; }
  @media screen and (min-width: 700px) {
    ul.menu a {
      margin-bottom: 1rem;
      padding-top: 1rem;
      padding-bottom: 1rem;
      margin-top: 1rem; } }

ul.menu li:last-child a {
  background: #92159e;
  border-radius: 25px;
  color: white;
  border: none; }
  ul.menu li:last-child a:hover {
    border: none;
    background: #bc1bcb; }

.intro p {
  color: #79219f;
  font-size: 1.8rem; }



  /* New Code */

/* VARIABLES */

@ltgrey: #e5e5e5;
@padding: 20px;
@corner: 5px;

/* LAYOUT */
 section {
  &:extend(.container);
 } 

 section {
  &:extend(.row);
 } 

.red {
  background: red;
}

  #instafeed {
  .make-md-column(6);
    
  }


.button-wrapper {
   .make-md-column(12);
}

.main-content {
   .make-md-column(10);
}
.sidebar {
   .make-md-column(2);
}

.business-card {
   .make-md-column(6);
   border: solid 1px @ltgrey;
   padding: @padding;
   border-radius: @corner;
}

